body {
    margin: 0;
    padding: 50px;
    font-family: sans-serif;
    background-color: #6e6e6e;
}

.container {
    width: 100%; 
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: #b4b2b2;
    border: 5px solid;
    border-radius: 10px;
}

.result {
    font-weight: bold;
}

p {
    font-size: 15px;
    font-weight: bold;
}

input {
    color: #000000;
    padding: 10px 20px;
    width: 200px;
    border-radius: 5px;
    outline: 0;
    border: 0;
    background-color: #5606e11a;
}

img {
    width: 400px;
    margin-right: 50px;
    border-radius: 10px;
}

h5  {
    color: rgb(25, 25, 211);
    margin-bottom: 10px;
}
p {
    font-size: 12px;
}


@media screen and (max-width: 480px) {
    body {
        padding: 20px;
    }
    
    .flex {
        flex-direction: column;
    }

    img {
        width: 300px;
        margin: 0 auto;
    }

    .result {
        padding-bottom: 10px;
    }
}